
<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Al Hamood Milestone Project</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<div class=page>
  <h2>Something went wrong with your request.</h2>
  <h2>Are you sure you've entered a valid stock ticker code, and no spaces?</h2>
  <h2>Please try again!</h2>
	<form id='get-ticker' method='post' action='show-plot' > 
   		<h3>
   		Stock ticker code: <input type='text' name='ticker'>
   		</h3>
	</form>
</div>